body{
    margin: 20px;
}
table  {
    border-collapse: collapse;
}

table td, th  {
    padding: 5px;
}

.create-button  {
    color: blue;
    cursor: pointer;
    padding: 5px;
}
.edit-button  {
    padding: 2px 5px;
    background: #25A6E1;
    cursor: pointer;
}

.delete-button  {
    padding: 2px 5px;
    background: #CD5C5C;
    cursor: pointer;
}

.o_row{
        font-weight: 900;
        cursor: pointer;
        width: 10px;
        display: inline-block;
}


.ng-scope li{
list-style-type: none;
}

.ng-scope{
    margin-left: 5px;
    padding-left: 0;
}